{%extends "base.html" %}
{%block title %}About us{% endblock %}

{% block content %}   

<div class = "container">
<h3>Bookstore physical address</h3>
<address>Hill Student Center, Birmingham, AL 35226</address>

<h3>Contact us</h3>
<p>Phone: 205-111-2222 (fake)</p>
<email>bookstore_test@uab_test.edu</email>

<h3>Hour of Operation</h3>
<ul>
    <li>Sunday: Closed</li>
    <li>Monday: 8am to 4pm</li>
    <li>Tuesday: 8am to 4pm</li>
    <li>Wednesday: 8am to 4pm</li>
    <li>Thursday: 8am to 4pm</li>
    <li>Friday: 8am to 4pm</li>
    <li>Saturday: Closed</li>
</ul>


<br>
<br>
<br>
<h3>How to order books at UAB bookstore</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/g5lFSxWfht0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class = "container">
<figcaption>Video referenced from youtube: keyworld UAB bookstore</figcaption>



</div>

{% endblock %}

