{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}
<a href='{{url_for("views.user_profile")}}'  class='btn btn-outline-dark float-left' >User Profile </a>

<div class="jumbotron">
  {% set len = namespace(n_book =0) %}
  {% set t = namespace(sum =0) %}
  {% if user.cart is defined and user.cart|length > 0 %}
    {% for book in user.cart %}
     {% set len.n_book = len.n_book +1 %}
     {% set t.sum =t.sum + book.price*book.qty %}
    {% endfor %}
  {% endif %}

  <a href='{{url_for("views.display_cart")}}'  class='btn btn-primary float-right' >Your Cart ({{len.n_book}}, {{"$%.2f"|format(t.sum)}}) </a>
  <a href='{{url_for("views.order_history")}}'  class='btn btn-outline-dark float-right' >Order History </a>


  <h1 align="center"> Welcome to UAB Bookstore</h1>


  <h4 class='text-center text-muted mb-3'>Book List</h4>

  <div class="dropdown">
    <button class="dropbtn">Select a category</button>
    <div class="dropdown-content">
      <a href='{{url_for("views.show_books",choice="All")}}' class='btn btn-primary'>All</a>
      <a href='{{url_for("views.show_books",choice="Adventure")}}' class='btn btn-primary'>Adventure</a>
      <a href='{{url_for("views.show_books",choice="Fictionary")}}' class='btn btn-primary'>Fictionary</a>
      <a href='{{url_for("views.show_books",choice="Scientific")}}' class='btn btn-primary'>Scientific</a>
      <a href='{{url_for("views.show_books",choice="History")}}' class='btn btn-primary'>History</a>
    </div>
  </div>


  <table class='table table-bordered' >
    <thead>
      <th>Book Title</th>
      <th>Authors</th>
      <th>ISBN</th>
      <th>Category</th>
      <th>Price</th>
      <th>Stock qty</th>
      <th>Add to cart</th>
    </thead>
    <tbody>
      {% for book in bklist %}
        <tr>
          <td>{{book.bname}}</td>
          <td>{{book.authors}}</td>
          <td>{{book.ISBN}}</td>
          <td>{{book.category}} </td>
          <td>{{book.price}} </td>
          <td>{{book.qty}} </td>
          <td><a href='{{url_for("auth.add_to_cart",ISBN=book.ISBN)}}' class='btn btn-primary'>Add to Cart</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>

</div>

{% endblock %}
