{% extends "base.html" %} {% block title %}Order history{% endblock %}

{% block content  %}
<div class="jumbotron">
    <h4 class='text-center text-muted mb-3'>Order history</h4>
    <hr>
  <div class='row'>
    {% set order = namespace(n = 1) %}
    {% set name = namespace(first = "first") %}
    {% set name = namespace(last = "last") %}
    {% for row in orders %}
        {% if order.n != row.onumb %}
            {% set order.n = row.onumb %}
            {% if users == current_user %}
              {% set name.first = current_user.first_name %}
              {% set name.last = current_user.last_name %}
            {% else %}
                {% for user in users %}
                    {% if user.id == row.user_id %} 
                      {% set name.first = user.first_name %}
                      {% set name.last = user.last_name %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p> <b> Order # {{row.onumb}}: </b> </p>
            <p> &nbsp;Order placed on: {{row.date}}.  Order total: {{"$%.2f"|format(row.order_total)}}.  Placed by user #{{row.user_id}}, {{name.first}} {{name.last}}. </p>
        {% endif %}
        <div  class="container">
          <p><b>Title: </b> {{row.bname}}.&nbsp;
            <b>Authors: </b> {{row.authors}}.&nbsp;
            <b>ISBN:</b> {{row.ISBN}}.&nbsp;
            <b>Price: </b> {{"$%.2f"|format(row.price)}}.&nbsp;
            <b>Quantity: </b> {{row.qty}}.
          </p>
        </div>
        <hr>
    {% endfor %}
  </div>

</div>
{% endblock %}
